<div id="modal-explain" class='modal'>
  <div class="modal-content">
    <div class='pure-g'>
      <div class='pure-u-1'>
        <h2>If you register you can make Groups!</h2>
        <p>Find and join your friends. Vote with your group to see which Artists come out on top.</p>
        <span class="close">x</span>
      </div>
    </div>
  </div>
</div>


