<% if !session[:user_id] %>
  <div id="modal-explain" class='modal'>
    <div class="modal-header">
      <span class="close">×</span>
      <h2>If you login you can join Groups!</h2>
    </div>
    <div class="modal-body">
      <p>Take a look at the menu bar and click on groups.</p>
    </div>
  </div>
<% end %>

