<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Artist Name</th>
      <th>BTELO Score</th>
    </tr>
  </thead>
  <tbody class="artist-rankings">
    <% last_place_printed = 0 %>
    <% artists.each do |artist| %>
      <tr class="artist-row">
        <% if artist[0] != last_place_printed %>
          <td class="artist-rank"><%= artist[0] %></td>
          <% last_place_printed = artist[0] %>
        <% else %>
          <td class="artist-rank"></td>
        <% end %>
        <td class="artist-name"><%= artist[1] %></td>
        <td class="artist-score"><%= artist[2] %></td>
      </tr>

    <% end %>
  </tbody>
</table>
