<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Artist Name</th>
      <th>BTELO Score</th>
    </tr>
  </thead>
  <tbody class="artist-rankings">
    <% rank = 0 %>
    <% artists.each do |artist| %>
      <% rank = rank + 1 %>
      <tr class="artist-row">
        <td class="artist-rank"><%= rank %></td>
        <td class="artist-name"><%= artist[0] %></td>
        <td class="artist-score"><%= artist[1] %></td>
      </tr>

    <% end %>
  </tbody>
</table>
