<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Artist Name</th>
      <th>BTELO Score</th>
    </tr>
  </thead>
  <tbody class="artist-rankings">
    <% artists.each do |artist| %>
      <tr class="artist-row">
        <td class="artist-rank"><%= artist[0] %></td>
        <td class="artist-name"><%= artist[1] %></td>
        <td class="artist-score"><%= artist[2] %></td>
      </tr>

    <% end %>
  </tbody>
</table>
