<h1><%= @group.name %></h1>

<div class="pure-g">
  <div class="pure-u-1-6">
  </div>
  <div class="pure-u-1-4">
    <h3>Band Members</h3>
    <% @group.users.each do |user| %>
      <%= link_to user.username, user_path(user) %><br>
    <% end %>
  </div>
  <div class="pure-u-1-6">
  </div>
  <div class="pure-u-1-4">
    <h2>Top 40 Artists for this Group</h2>
    <% if @group_artists.length > 0 %>
      <%= render partial: 'artists/rankings_table', locals: {artists: @group_artists} %>
    <% else %>
      <em>Your group hasn't voted on any artists yet. <a href="/">Get started now!</a></em>
    <% end %>
  </div>
  <div class="pure-u-1-6">
  </div>
</div>
