<div id='desktop-modal-directions' class='modal'>
  <div class='modal-content'>
    <div class="pure-g">
      <div class="pure-u-1">
          <h2>How to play:</h2>
          <p>Click on the artist you prefer. Click skip if you'd like a new matchup.
          Keyboard arrows also work; right and left for votes, up or down to skip.</p>
          <img id='arrows' src="<%= asset_path('keyboard.png') %>" />
          <span class='close'>x</span>
      </div>
    </div>
  </div>
</div>
