<div id='modal-directions' class='modal'>
  <div class='modal-content'>
    <span class='close'>x</span>
    <div class="pure-g">
      <h2>How to play:</h2>
      <p>Click on the artist you prefer. Click skip if you'd like a new matchup.<br>
      Button keys also work; right and left for votes, down to skip.</p>
    </div>
  </div>
</div>
