@media screen and (max-width:48em){
  #vote-area {
    height: calc(100vh - 37px);
  }

  .option1-vote, .option2-vote {
    height: 50%;
  }

  .option-name {
    font-size: 2em;
  }

  #option1, #option2 {
    height: 100%;
    width: 100vw;
  }

  #prev-vote, footer>*, #hot-dog-menu {
    display:none;
  }

  #hamburger-menu {
    float: right;
    margin-right: 53px;
    margin-top: -4px;
  }

}

@media screen and (min-width:48em){
  #vote-area {
    height: calc(100vh - 161px);
  }

  .option1-vote, .option2-vote {
    height: 100%;
  }

  #option1, #option2 {
    height: 100%;
    width: 50vw;
  }

  .hot-dog-menu{
    display: initial;
  }

  .option-name {
    font-size: 5em;
  }

  #hamburger-menu {
    display: none;
  }

}
