.option1-vote, .option2-vote {
  width: 100%;
  min-height: 800px;
  background-position: 50%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.vote-button{
  margin: 25% auto;
}

#option1, #option2 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid white;
}

#option1 {
  border: 5px solid black;
}

#option1>img, #option2>img {
  margin-top: 20%;
  border: 5px solid white;
}

#winner-photo, #loser-photo {
  width: 100px;
  height: 100px;
}

#winner-photo {
  border: solid #9FE695 5px;
}

#loser-photo {
  border: solid #E69595 5px;
}

.last-photo {
  margin-top: 5px;
  width: 90px;
  height: 90px;
}

.prev-winner, .prev-loser {
  text-align: center;
}

p {
  margin-top: calc(50px - 0.5em);
}


input[type=submit] {
    margin-left: auto;
    margin-right: auto;
}
