.option1-vote, .option2-vote {
  text-align: center;
  text-decoration: none;
}

#option1, #option2 {
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid white;
  max-width: 100%;
  height: auto;
  display: block;
}
.option-name {
  position: relative;
  bottom: 0;
  right:0 ;
  color: white;
  font-size: 5em;
}

#option1 {
  border: 5px solid black;
}

#option1>img, #option2>img {
  margin-top: 20%;
  border: 5px solid white;
}

#winner-photo, #loser-photo {
  width: 100px;
  height: 100px;
}

#winner-photo {
  border: solid #9FE695 5px;
  margin-right: 10px;
}

#loser-photo {
  border: solid #E69595 5px;
  margin-left: 10px;
  opacity: 0.5;
}

.last-photo {
  margin: 5px;
  width: 90px;
  height: 90px;
}

.prev-winner{
  text-align: right;
}

.prev-loser {
  text-align: left;
}

p {
  margin-top: calc(50px - 2em);
}


input[type=submit] {
    margin-left: auto;
    margin-right: auto;
}
