<div id="previous-vote" class="pure-u-1-6">
  <div class="previous-winner">
    <div class="score">
      <%= @prev_winner.name %>
      <%= @prev_winner_score %>
    </div>
  </div>
  <div class="previous-loser">
    <div class="score">
      <%= @prev_loser.name %>
      <%= @prev_loser_score %>
    </div>
  </div>
</div>
