<!DOCTYPE html>
<html>
<head>
  <title>Best Thing Ever</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="brand">
      Best Thing Ever
    </div>
    <nav class="main-nav">
      <ul>
        <li>Top Scores</li>
        <li>Vote Again</li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
